<app-handler-a #handlerA [resetOn]="handlerB.triggerChange"></app-handler-a>
<app-handler-b #handlerB [resetOn]="handlerA.triggerChange"></app-handler-b>

<!--
  NOTE: any of the following implementations works without errors

  <app-handler-a #handlerA></app-handler-a>
  <app-handler-b #handlerB [resetOn]="handlerA.triggerChange"></app-handler-b>

  OR

  <app-handler-a #handlerA [resetOn]="handlerB.triggerChange"></app-handler-a>
  <app-handler-b #handlerB></app-handler-b>

  OR "fullTemplateTypeCheck" set to false

  OR "enableIvy" set to false
-->
